@import "~bootstrap/dist/css/bootstrap.min.css";
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.App {
  text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

li {
  display: flex;
  cursor: pointer;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
li.todoDone {
  text-decoration: line-through;
  opacity: 0.7;
  font-style: italic;
  color: gray;
}

.form-check-input {
  margin-top: 0px;
}

.todo-done {
  font-style: italic;
  color: gray;
  text-decoration: line-through;
}
